.video{
    padding: 80px;
}
.video1{
    background-color: #0505C3;
    padding: 80px;
}

.video2{
    background-color: #DC3F00 ;
    padding: 80px;
}

.video3{
    background-color: #41A400;
    padding: 80px;
}

.video4{
    background-color: #DCC700;
    padding: 80px;
}

.titulo{
    text-align: center;
}

.titulob{
    text-align: center;
    color: white;
}

.tarefas-img img{
    border: solid;
    width: 100%;
    height: 100%;
    
}

.tarefas-img a{
    display:block;
    height:100%;
    padding: 12px;
    
}
.color{
    color: red;
}